<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="file" name="uploadFiles" multiple />
<button class="uploadBtn">Upload</button>
<div class="uploadResult">

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $('.uploadBtn').click(function() {
            let formData = new FormData();

            let inputFile = $('input[type="file"]');

            let files = inputFile[0].files;

            for(let i = 0; i < files.length; i++) {
            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
            }

            // 실제 업로드 부분
            // Upload ajax
            $.ajax({
                    url : '/uploadAjax',
                    processData : false,
                    contentType : false,
                    data : formData,
                    type : 'POST',
                    dataType : 'json',
                    success : function(result) {
                        // 나중에 화면 처리
                        showUploadedImages(result);
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
            }); // $.ajax
        }); // uploadBtn

        function showUploadedImages(arr) {

            console.log(arr);

            var divArea = $(".uploadResult");

            for (var i = 0; i < arr.length; i++) {
                divArea.append("<img src='/display?fileName="+arr[i].imageURL+"'>");
            }
        } // function
    </script>
</body>
</html>