<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <input name="uploadFiles" type="file" multiple>
    <button class="uploadBtn">Upload</button>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>

    <script>
        $('.uploadBtn').click(function() {
            let formData = new FormData();

            let inputFile = $('input[type="file"]');

            let files = inputFile[0].files;

            for(let i = 0; i < files.length; i++) {
            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
            }
        });
    </script>
</body>
</html>